@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

img{
  display: inline-block;
  border-style: solid;
  max-width: 100%;
  height: auto;

}
.whitespace-nowrap {
  white-space: nowrap;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee2 {
  animation: marquee2 20s linear infinite;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}


@keyframes marquee3 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-marquee3 {
  animation: marquee 20s linear reverse infinite;
}

@keyframes marquee4 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee4 {
  animation: marquee2 20s linear reverse infinite;
}